<%- include ('../parciales/encabezado'); %>
<table>
    <thead>
        <th>Referencia</th>
        <th>Productos</th>
        <th>Precio</th>
        <th>Descripcion</th>
        <th>Categoria</th>
        <th>Imagenes</th>
        <th>acciones</th>
    </thead>
<tbody>
<% listadoProductos. forEach(producto => { %>
    <tr>
        <td><%= producto.referencia %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.precio %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.categoria %></td>
        <td><%= producto.imagenes %></td>
    </tr>
<%})%>
</tbody>
</table>